<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm</title>

</head>
<body>

    <h1>Confirmed/declined!</h1>

    <h2>{{error}}</h2>

    {%if errorx %}
     <h2>{{errorx}}</h2>
    {%endif%}
    {{data}}
    <br>
    {% if msg %}
    {{msg}}
    {% endif %}
    {{cname}} {{gname}} {{username}}
    {{data3}}
    {{datax}}
    {{datac}}
    {{errorz}}

    {{errorpost}}
    {{error_notfriend}}
    {{msgblock}}
    {{msgt}}

    {{error_nogroup}}

    {{error_nofriend}}

    <br>
    <br>
    <a href="/home">Go back</a>
</body>
</html>